@import "./../../../variables.scss";
.weatherCard {
  border-radius: 20px;
  text-align: center;
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 18px;
    font-family: RobotoMedium;
    line-height: 18px;
    margin-bottom: 5px;
  }
  h6 {
    line-height: 12px;
    font-size: 12px;
    font-family: RobotoLight;
  }
  .ant-card-head {
    text-align: center;
    background-color: $accent-text;
    border-radius: 20px 20px 0 0;
    color: $white;
    font-family: RobotoBold;
    font-size: 18px;
  }
}
