$primary-color: #c2185b;
$secondary-color: #03a9f4;
$white: #ffffff;
$background-color: #3aafa9;
$accent-text: #17252a;

@font-face {
  font-family: RobotoBold;
  src: url("./../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("./../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("./../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("./../fonts/Roboto-Regular.ttf");
}

// Medias Querys MIXINS
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 990px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-phone-brief {
  @media (max-width: 767px) {
    @content;
  }
}
