@import "./../../../variables.scss";
.weatherSection {
  min-height: 100vh;
  padding-top: 50px;
  &__title {
    h2 {
      font-size: 40px;
      font-family: RobotoBold;
      text-align: center;
      color: $white;
    }
  }
}
