@import "./../../../variables.scss";
.searchInput {
  background-color: $background-color;
  min-height: 100vh;
  position: relative;
  h3 {
    margin: 0;
    font-family: RobotoBold;
    text-align: left;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 50px;
    @include for-desktop-up {
      font-size: 70px;
      line-height: 70px;
    }
    .primary {
      color: $white;
    }
    .secondary {
      color: $accent-text;
    }
  }
  &__wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ant-btn-primary {
    background-color: #2b7a78;
    border-color: #2b7a78;
  }
}
